body {
 font-size: 24px;
 height: 100vh;
 text-align: center;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;

} 
*{
    margin: 2px;
}
/*
.container{
    border: 5px solid black;
    display: flex;
    justify-content: flex-start;
    height: 600px;
}
.flex-item{
    color: white;
    font-size: 1.5rem;
    padding:1rem;
    text-align: center;
}

.item-1{
    background-color: antiquewhite;
     flex-grow: 1;
     flex-shrink: 0;
     flex-basis: 25px;
     align-self: start;
    
}
.item-2{
    background-color:aqua;
    flex-shrink: 5;
    
}
.item-3{
    background-color:blanchedalmond;
    
}
.item-4{
    background-color:blueviolet;
    
}
.item-5{
    background-color:brown;
    
}
.item-6{
    background-color:bisque;
    
}
.item-7{
    background-color:blue;
    
} */
/* .nav{
    margin: 0;
}
.flex-box{
    display: flex;
    /* justify-content: space-around; */
/* margin: 0;
    background-color: gray;
    padding: 0;
}
.list-item{
    list-style: none;
    /* flex-basis: auto; */
/*  flex: auto;
    font-size: 1.5rem;
    padding: 1rem;

}
.list-item:hover{
    background-color: aquamarine
}
@media all and (max-width:400px){
    .nav ul{
        flex-direction: column;
    }
    .nav ul li{
        text-align: center;
    }
}
.container{
    width: 800px;
    height: 800px;
    border: 3px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.item{
    width: 35px;
    height: 35px;
    border: 2px solid green;
} */
/* .container {
  display: flex;
}
.item-1 {
  flex-basis: 25%;
}
.cards {
  display: flex;
}
.card{
    display: flex;
    flex-direction: column;
}
.body{
    flex-grow: 1;
} */
.header{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.left-nav{
    padding-top: 3rem;
    flex: 1 1;
   
}
.main-article{
    padding-top: 3rem;
    flex:3 3;
}
.aside-bar{
    padding-top: 3rem;
    flex :1 1 ;
}
.flex-main{
    display: flex;
    flex:1
}
@media all and (max-width:400px){
    .flex-main{
        flex-direction: column;
        
    }
    body{
        flex-wrap: nowrap;
    }
}